.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 60px;
}

.form-label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
  position: relative;
  font-size: 13px;
}

.form-label span {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  width: 100vw;
  color: #757575;
}